<h2>List of Open Food Trucks at {{this.clock | date: 'hh:mm:ss a'}}</h2>
<button (click)="showOpenFoodTrucks()">Show Open Food Trucks</button>

<div *ngFor="let foodTruck of openFoodTrucks | paginate: { itemsPerPage: 10, currentPage: page }">
  <div class="card">
    <div class="row no-gutters">
      <div class="col-md-4">
        <div>
          <p>{{foodTruck.applicant}}, {{foodTruck.location}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
<div>
  <pagination-controls class="pagination-bar" previousLabel="" nextLabel="" (pageChange)="page = $event"></pagination-controls>
</div>